*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
header{
    background-color: #222;
    border-bottom: 2px solid ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 80px;
    padding-right: 80px;
    


}

header h1{
    color: white;
}

header h1 span {
color: rgb(12, 120, 209);
}
header nav{
    margin: 20px;

}
header nav ul{
   
    display: flex;
    list-style: none;
   
}

header nav a{
 text-decoration:none ;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px ;
    

}


.span1{
    color: #3498db;
}


.superior{
margin:0%;
display:flex ;
flex-direction: column;
background:url(assets/cabecera.jpg);
padding: 10% 0% 20% 0%;
width: 100;
background-position-y: -380px;
background-repeat: no-repeat;
justify-content: center;
align-items: center;

}

.textodeimagen{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}


.parrafodeimagen{
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 20px;
    text-align: center;

}
.p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}

.e{
    background-color: white;
}

.registro{
background-color: #222;
display:flex;
color: white;


}

.tarjetas{
    display: flex;
text-align: center;
align-items: center;
justify-content: space-between;
padding: 50px 120px;

}

.card{
    padding: 20px 90px;

}

.titulo1{
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.parrafo1{
    margin: 20px 0px 0px 0px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.registro{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
}

section input{
    background-color: orangered;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    

}
.ultimo{
    background-color:rgb(12, 120, 209) ;
    text-align: center;
    padding: 2%;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.linea{
    background-color: #3498db;
    width: 100%;
    height: 5px;
}






/*segunda pagina*/
.container1{
    display: flex;
}
.container1 h2{
    margin: 20px;
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.perro{
    font-size: 20px;
    width: 745px;
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenido p {
    font-size: 20px;
    background-color: rgb(36, 40, 43);
    color: white;
    padding: 15px 15px 15px 15px ;
    margin:15px 200px  10px 0px;
    width: 680px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenido p{
    width: 750px;
    margin-left: 100px;
    
    
}

.imagen1{
    margin-left:100px ;
    width: 39vw;

}
.hacer{
   
   
    margin-top:20px;
    background-color:rgb(36, 40, 43) ;
    width: 200px;
    height: 200px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.hacemos{
    margin:10px;
    
}





/*tercer pagina*/
.contenedor3{
    display:flex ;
}
.titulos{

margin: 20px 10px 10px 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
flex-direction: column;
font-size: 20px;




}

.titulo1{
background-color: rgb(212, 203, 203);
margin: 10px;

}

.titulo2{
background-color: rgb(212, 203, 203);
margin: 10px;

}
.titulo3{
background-color: rgb(212, 203, 203);
margin: 10px;
}
.parrafo4{
    margin-top: 20px;
    background-color:rgb(36, 40, 43) ;
    width: 200px;
    height: 300px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.sadow{
    margin: 20px 20px 10px;
    font-size: 15px;
    
}
.hades66{
    margin: 20px;
    
}

/*cuarta pagina*/
.perro{
    display: flex;
     margin-bottom: 100px;
     padding: 20px 50px ;
 }
 .gato{
     justify-content: space-between;
 
 
     
 }
 .a{
     background-color: white;
     color: black;
     width: 800px;
 }
 .b{
     background-color: white;
     width: 800px;
 }
 .i{
     background-color: white;
     width: 800px;
 }
 .o{
     background-color: white;
     width: 800px;
 }
 .u{
     background-color: white;
     width: 800px;
 }
 .uno{
     text-align: end;
     margin-right: 100px;
   
 
 }
 .r{
     width: 800px;
 }
 
 .imagen{
     margin: 50px;
 }
